#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 2000;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 13px;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
